<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>OAuth</title>
</head>
<body>
    <div id="container">
        <form method="post" action="_indieauth/auth">
            <input type="text" name="me" value="{{ me|e }}" placeholder="yourdomain.com" required>
            <input type="hidden" name="redirect_to" value="{{ redirectTo|e }}">
            <input type="submit" value="Sign In">
        </form>
    </div> <!-- /container -->
</body>
</html>
